# Ignore specific folders in .config
.config/Mullvad\ VPN/
.config/pavucontrol.ini
.config/spotify/
.config/Thunar/
.config/pulse/
.config/dconf/
.config/mpv/
.config/vesktop/
.config/neofetch/
.config/xfce4/
.config/obs-studio/
.config/spicetify/

# Include everything else
!.config/

